body {
  background-image: url('/img/background\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Roboto;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
  margin-bottom: 22px;
}

.header-logo-container {
  display: flex;
}

.header-logo-link:hover {
  color: #F26522;
}

.header-logo-img {
  width: 53px;
  height: 47px;
}

.header-logo-text {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-top: 3px;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: white;
  text-transform: uppercase;
}

.header-logo-text-holidays {
  font-size: 18px;
  line-height: 18px;
}

.header-logo-link:hover .header-logo-text{
  color: #F26522;
}

.header-logo-img {
  background-image: url('../img/logo.svg');
}

.header-logo-link:hover .header-logo-img{
  background-image: url('../img/logo_orange.svg');
}

.header-contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.header-contacts-mailto {
  margin-bottom: 19px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: white;
}

.header-contacts-mailto:hover {
  color: #F26522;
}

.header-contacts-tel {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: white;
}

.header-contacts-tel:hover {
  color: #F26522;
}

.main-attractions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 78px 61px;
  padding-bottom: 78px;
  margin-bottom: 12px;
}

.main-attractions>div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-attractions-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: white;
}

.shopping::after {
  content: "Shopping Tours";
  position: relative;
  top: 20px;
}

.sightseeing::after {
  content: "Sightseeing Tours";
  position: relative;
  top: 20px;
}

.food::after {
  content: "Food Tours";
  position: relative;
  top: 20px;
}

.bars::after {
  content: "Bars & Nightlife";
  position: relative;
  top: 20px;
}

.art::after {
  content: "Art & Architecture";
  position: relative;
  top: 20px;
}

.walking::after {
  content: "Walking Tours";
  position: relative;
  top: 20px;
}

.main-attractions-container:hover .details {
  opacity: 1;
}

.main-attractions-link:hover::after {
  color: #F26522;
}

.main-attractions-container {
  position: relative;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  padding-top: 7px;
  padding-left: 16px;
  padding-bottom: 12px;
  position: absolute;
  opacity: 0;
  bottom: 20px;
  width: 300px;
  background-color: #F26522;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
}

.price span:nth-child(1) {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.price span:nth-child(2) {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.view-details {
  display: flex;
  position: relative;
  padding-right: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: white;
}

.view-details::after {
  content: url('../img/arrow.png');
  position: absolute;
  left: 94px;
  width: 5px;
  height: 10px;
}

.footer-text {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: white;
}